body{
    overflow-x: hidden;
}
.card{
    transition: 0.3s;
}
.card:nth-child(even){
    transform: rotate(4deg);
}
.card:nth-child(odd){
    transform: rotate(-4deg);
}

.desc {
    line-height: 0.8;
}

.titulo{
    font-weight: bold;
}

.fa-solid:hover{
    transform: scale(1.2);
}

.card:hover{
    /*box-shadow: 1px 1px 1px 10px rgba(49, 42, 42, 0.41);*/
    transform: scale(1.1);
}
